body,
html {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: Playfair;
  user-select: none;
}

body {
  background-image: url("../Images/wood.png");
  background-size: cover;
}

.btn {
  width: 200px;
  margin: 20px auto;
  padding: 1em 2em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
}

.btn:hover {
  background-color: #dadada;
}

.paper {
  margin: 0 10vw;
  padding: 20px;
  transform: rotate(0deg)scale(0.9);
  text-align: center;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);

  h1 {
    text-transform: uppercase;
    font-family: Libre Baskerville;
    font-size: 50px;
    @media only screen and (max-width: 920px) {
      font-size: 30px;
    }
  }
  @media only screen and (min-width: 1000px) {
    h1::after,
    h1::before {
      display: inline-block;
      width: 2vw;
      margin: 0 0.5rem;
      content: "";
      transform: translateY(-12px);
      border-top: 0.3rem solid black;
    }
  }

  &__article {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }

  &__articleImage {
    width: 100%;
    height: 40vh;
    padding: 60px;
    background-image: url("https://source.unsplash.com/collection/1999207/1000x1000");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media only screen and (max-width: 920px) {
      height: 50vw;
    }
  }

  &__articleText {
    min-height: 60px;
    margin: 20px;
    transition: 0.2s ease-in-out;
    // padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Libre Baskerville;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.5;
    @media only screen and (max-width: 920px) {
      font-size: 22px;
    }
  }

  &__articleSubs {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    @media only screen and (max-width: 920px) {
      flex-direction: column;
    }
  }

  &__sub {
    width: 50%;
    height: 12vw;
    margin-bottom: 20px;
    background-image: url("../Images/article.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    @media only screen and (max-width: 920px) {
      width: 100%;
    }
  }
}

.first,
.second,
.third {
  display: inline-block;
}

.spinning {
  animation-name: spin;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg)scale(0.9);
  }

  50% {
    transform: rotate(360deg)scale(0.1);
  }

  100% {
    transform: rotate(0deg)scale(0.9);
  }
}
